Repository George70-svg/ui_warrirors_tanks_game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: cd packages/client && npm run lint

prettier:
  run: cd packages/client && npm run format
  stage_fixed: true

fix: понижение версий пакетов для совместимости с Node.js 16
  package-lock.json
  packages/client/package.json
  packages/client/src/main.tsx
Due: lint, prettier

feat: настройка линтинга и pre-commit хуков
  .eslintrc.js
  lefthook.yml
  package-lock.json
  packages/client/package.json
  packages/client/src/theme/themeConfig.ts
  yarn.lock
Due: lint, prettier

chore: переход с npm на yarn
  README.md
  lefthook.yml
  package-lock.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: none

Revert "- Общие зависимости и скрипты вынесены в корневой package.json"
  .eslintrc.js
  .github/workflows/checks.yml
  .prettierrc
  lefthook.yml
  package.json
  packages/client/.stylelintrc.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/App.css
  packages/client/src/index.css
  packages/server/package.json
  yarn.lock
Due: prettier

обновить настройки precommit и checks.yml
  .eslintrc.js
  .github/workflows/checks.yml
  .prettierrc
  lefthook.yml
  package.json
  packages/client/package.json
  packages/client/src/App.css
  packages/client/src/index.css
  packages/client/src/main.tsx
  packages/server/.stylelintrc.json
  packages/server/package.json
  yarn.lock
Due: lint, prettier

Add routing
  packages/client/src/app/app.css
  packages/client/src/app/app.test.tsx
  packages/client/src/app/app.tsx
  packages/client/src/app/router.tsx
  packages/client/src/pages/client-error/client-error-page.tsx
  packages/client/src/pages/client-error/index.ts
  packages/client/src/pages/error/error.tsx
  packages/client/src/pages/error/index.ts
  packages/client/src/pages/home/home-page.tsx
  packages/client/src/pages/home/home.test.tsx
  packages/client/src/pages/not-found/index.ts
  packages/client/src/pages/not-found/not-found-page.tsx
  packages/client/src/pages/profile/index.ts
  packages/client/src/pages/profile/profile-page.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/pages/server-error/index.ts
  packages/client/src/pages/server-error/server-error-page.tsx
  packages/client/src/shared/config/routes.ts
Due: lint, prettier

Change Not Found Page
  packages/client/src/pages/client-error/client-error-page.tsx
  packages/client/src/pages/client-error/index.ts
  packages/client/src/pages/not-found/index.ts
  packages/client/src/pages/not-found/not-found-page.tsx
Due: lint, prettier

Change not found page
  packages/client/src/app/router.tsx
Due: lint, prettier

User auth
  packages/client/src/app/no-auth-routes.tsx
  packages/client/src/app/protected-routes.tsx
  packages/client/src/app/router.tsx
  packages/client/src/entities/user/index.ts
  packages/client/src/entities/user/types.ts
  packages/client/src/entities/user/use-user-info.ts
  packages/client/src/entities/user/use-user-sign-in.ts
  packages/client/src/entities/user/use-user-sign-up.ts
  packages/client/src/pages/home/home-page.tsx
  packages/client/src/pages/sign-in/sign-in-page.tsx
  packages/client/src/shared/api/api-call.ts
  packages/client/src/shared/api/api-error.ts
  packages/client/src/shared/api/index.ts
Due: lint, prettier

No auth routes: redirect with replace
  packages/client/src/app/no-auth-routes.tsx
Due: lint, prettier

Added basic reset style
  packages/client/src/app/app.css
  packages/client/src/app/app.tsx
Due: lint, prettier

Added variables needed for registration page
  packages/client/src/app/app.tsx
  packages/client/src/shared/config/variables.pcss
Due: lint, prettier

Added basic tokens for antdesign themeConfig
  packages/client/src/app/theme-config.ts
Due: lint, prettier

Added logo and video for auth pages
  packages/client/src/shared/assets/gameplay_video.webm
  packages/client/src/shared/assets/wide_logo.png
Due: none

Added auth layout for auth pages
  packages/client/src/shared/ui/auth-layout/auth-layout.pcss
  packages/client/src/shared/ui/auth-layout/auth-layout.tsx
  packages/client/src/shared/ui/auth-layout/index.ts
Due: lint, prettier

Added auth form for auth pages
  packages/client/src/shared/ui/auth-form/auth-form-footer-link.tsx
  packages/client/src/shared/ui/auth-form/auth-form.pcss
  packages/client/src/shared/ui/auth-form/auth-form.tsx
  packages/client/src/shared/ui/auth-form/index.ts
Due: lint, prettier

Added sign up page
  packages/client/src/pages/sign-up/index.ts
  packages/client/src/pages/sign-up/sign-up-page.tsx
  packages/client/src/pages/sign-up/ui/index.ts
  packages/client/src/pages/sign-up/ui/sign-up-page.tsx
Due: lint, prettier

Deleted duplicate line
  packages/client/src/app/app.tsx
Due: lint, prettier

Add game engine
  packages/client/src/assets/images/tank.png
  packages/client/src/entities/game/config/gameConfig.ts
  packages/client/src/entities/game/model/collisionUtils.ts
  packages/client/src/entities/game/model/controller.ts
  packages/client/src/entities/game/model/gameLoop.ts
  packages/client/src/entities/game/model/renderUtils.ts
  packages/client/src/entities/game/model/updateUtils.ts
  packages/client/src/entities/game/objects/decoration.ts
  packages/client/src/entities/game/objects/shape.ts
  packages/client/src/entities/game/objects/tank.ts
  packages/client/src/entities/game/types.ts
  packages/client/src/pages/game/game-page.pcss
  packages/client/src/pages/game/game-page.tsx
Due: lint, prettier

Add map generator
  packages/client/src/entities/game/config/gameMap.ts
Due: lint, prettier

Added layout
  packages/client/index.html
  packages/client/package.json
  packages/client/src/app/main.tsx
  packages/client/src/app/protected-routes.tsx
  packages/client/src/assets/Logo.svg
  packages/client/src/entities/user/use-user-logout.ts
  packages/client/src/pages/profile/profile-page.tsx
  packages/client/src/shared/components/Logo.tsx
  packages/client/src/shared/ui/colors.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier

Fix Game, Controller, key handlers
  packages/client/src/entities/game/Controller.ts
  packages/client/src/entities/game/Game.ts
  packages/client/src/entities/game/config/gameMap.ts
  packages/client/src/entities/game/model/collisionUtils.ts
  packages/client/src/entities/game/model/controller.ts
  packages/client/src/entities/game/model/gameLoop.ts
  packages/client/src/entities/game/objects/shape.ts
  packages/client/src/entities/game/types.ts
  packages/client/src/pages/game/game-page.tsx
Due: lint, prettier

Changed layout + made profile page
  packages/client/package.json
  packages/client/src/app/protected-routes.tsx
  packages/client/src/app/theme-config.ts
  packages/client/src/entities/user/types.ts
  packages/client/src/entities/user/use-user-change-profile.ts
  packages/client/src/entities/user/use-user-logout.ts
  packages/client/src/entities/user/use-user-sign-up.ts
  packages/client/src/pages/profile/profile-page.tsx
  packages/client/src/shared/ui/colors.ts
Due: lint, prettier

Review fixes
  packages/client/src/app/app.test.tsx
  packages/client/src/app/protected-routes.pcss
  packages/client/src/app/protected-routes.tsx
Due: lint, prettier

CHange CSS files extensions for linter
  lefthook.yml
  packages/client/src/app/protected-routes.pcss
Due: none

Change lint:css script
  packages/client/package.json
Due: none

Add login page
  packages/client/src/pages/sign-in/sign-in-page.pcss
  packages/client/src/pages/sign-in/sign-in-page.tsx
  packages/client/src/shared/ui/style.pcss
Due: lint, prettier

Error element
  packages/client/src/app/app.css
  packages/client/src/app/router.tsx
  packages/client/src/app/ui/error-element.module.pcss
  packages/client/src/app/ui/error-element.tsx
  packages/client/src/app/ui/no-auth-routes.tsx
  packages/client/src/app/ui/protected-routes.pcss
  packages/client/src/app/ui/protected-routes.tsx
  packages/client/src/shared/lib/index.ts
  packages/client/src/shared/lib/type-utils.ts
Due: lint, prettier

Fix stylelint error
  packages/client/src/pages/game/game-page.pcss
Due: none

Fix error page
  packages/client/src/app/ui/error-element.module.pcss
  packages/client/src/app/ui/error-element.tsx
Due: lint, prettier

Home page
  packages/client/src/app/protected-routes.tsx
  packages/client/src/pages/home/home-page.tsx
Due: lint, prettier

Fix review
  packages/client/src/app/main.tsx
  packages/client/src/pages/sign-in/sign-in-page-styles.ts
  packages/client/src/pages/sign-in/sign-in-page.module.pcss
  packages/client/src/pages/sign-in/sign-in-page.pcss
  packages/client/src/pages/sign-in/sign-in-page.tsx
  packages/client/src/shared/ui/colors.ts
Due: lint, prettier

Fix lint
  packages/client/src/pages/game/game-page.pcss
Due: none

Add tokens
  packages/client/src/app/theme-config.ts
  packages/client/src/pages/sign-in/sign-in-page-styles.ts
  packages/client/src/pages/sign-in/sign-in-page.module.pcss
  packages/client/src/pages/sign-in/sign-in-page.tsx
  packages/client/src/shared/ui/colors.ts
  packages/client/vite.config.ts
Due: lint, prettier

Delete gap
  packages/client/src/pages/sign-in/sign-in-page.module.pcss
Due: none

Fix divider
  packages/client/src/app/theme-config.ts
  packages/client/src/pages/sign-in/sign-in-page.tsx
Due: lint, prettier

Fix height
  packages/client/src/app/protected-routes.pcss
Due: none

Leaderboard
  packages/client/src/app/protected-routes.pcss
  packages/client/src/app/theme-config.ts
  packages/client/src/entities/forum/index.ts
  packages/client/src/entities/forum/use-leaderboard.ts
  packages/client/src/pages/leaderboard/leaderboard-page.module.pcss
  packages/client/src/pages/leaderboard/leaderboard-page.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
